doctype html
html(ng-app="cat-facts")
	head
		meta(charset="utf-8")
		title= title
		link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="/styles/default.css")
	body
		block main-content
		include scripts